# Virtual environment
.venv/

# Environment variables
.env

# Telegram session files
sessions/
*.session

# Database
data/*.db

# Logs
logs/

# IDE
.idea/

# Python
__pycache__/
*.pyc
*.pyo

# OS
.DS_Store
Thumbs.db